* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.topnav {
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #e9e9e9;
}

.topnav a {
    float: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.topnav .search-container .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    padding: 6px 10px;
    margin-top: 0;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav a.btn{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

