footer {
    background: #141216;
    padding: 40px 20px;
    color: #ccc;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#socials-div {
    margin-bottom: 20px;
}

#socials-div a {
    margin: 0 8px;
}

#socials-div .icon img{
    width: 50px;
    height: 50px;
}

#socials-div .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer-text {
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
    font-size: 14px;
}

.footer-text a {
    color: #fff;
    text-decoration: underline;
}