* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #e9e9e9;
}

#search-img {
    width: auto;
    height: 60%;
    display: block;
    border: none;
    padding: 0;
}

#user-type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    padding: 14px 16px;
    font-size: 17px;
    width: 60px;
}

#user-type-text:not(:empty){
    margin: 0;
    display: inline-flex;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.topnav a {
    float: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 15px;
}

.topnav .search-container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.topnav .search-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 0;
    font-size: 17px;
    border-radius: 15px;
    border: 1px solid black;
}

.topnav .search-container button {
    padding: 6px 10px;
    margin-top: 0;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav a.btn{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .search-container button:hover {
    background: #ccc;
}