<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
  </head>
  <!--sezione header-->
  <header class="header">
      <section class="flex">
          <div class="topnav">
              <div class="logo">
                  <div id="menu-btn" class="fas fa-bars"></div>
                  <a class="active" href="index.html">AniTrends</a>
              </div>

              <div class="search-container">
                  <form action="" class="search-bar">
                      <input type="text" placeholder="Search.." name="search">
                      <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                      <input type="image" src="../../images/lente_ingrandimento.png" alt="Submit" id="search-img">
                  </form>
              </div>

              <!-- TODO: centra search-container rispetto all'header, non rispetto agli elementi -->
              <div id="user-type-div">
                  <p id="user-type-text"></p>
              </div>
          </div>
      </section>
  </header>
  <!--fine sezione header-->
  <body>
    {{{body}}}
  </body>
  <!--inizio sezione footer-->
  <footer>
      <div id="socials-div">
          <a href="#" class="icon"><img src="../../images/twitter.png" alt="twitter link" id="twitter-link"></a>
          <a href="#" class="icon"><img src="../../images/instagram.png" alt="instagram link" id="instagram-link"></a>
          <a href="#" class="icon"><img src="../../images/youtube.png" alt="youtube link" id="youtube-link"></a>
      </div>

      <p class="footer-text">
          AniTrends is an amateur site run by three normal students of the Computer Science Unito.
          The site is non-profit, and pursuant to Law no. 383/2000 all the proceeds of the activities carried out are
          intended for the performance of the institutional activities provided for by the statute,
          and in no case they can be divided among the members, even in indirect forms.
      </p>

      <small>
          Copyright © 2025 AniTrends. All Rights Reserved.
      </small>
  </footer>
  <!--fine sezione footer-->
</html>
